
.title {
    margin: 100px 0;
    text-align: center;
    font-size: 35px;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    background: url(/images/cream_dust.png) repeat 0 0;
}
.animals {
    margin: 100px 0;
    text-align: center;
}
h4{
    font-size: 30px;
}
.buttons{
    text-align: right;
}