
.title {
    margin: 100px 0;
    text-align: center;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
}



  

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    color: #333333;
    background-image:url("../images/carribean_wow.jpg");
    background-size: 2000px;
    font-family: 'Roboto', sans-serif;
}
.animals {
    margin: 100px 0;
    text-align: center;
    
}
h4{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}





.nav-tabs > li, .nav-pills > li {
    float: left;
}
li {
    line-height: 20px;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
    
}


.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    
}
.nav > li > a {
    display: block;
    color:whitesmoke;


}
.nav-pills> li > a:hover {
    color:whitesmoke;
    background-color:lightseagreen; 
    text-decoration: none;
}
.nav-pills> li {
    background-color:rgb(45, 170, 45);
    text-decoration:none;
}
a {
    color: #0088cc;
    text-decoration: none;
}


.container{
        margin: 0 auto;
        max-width: 700px;
        background:rgba(255, 255, 255, 0.7);
}
 
     div {
            display: block;
        }

        a[href^="mailto"]::before {
            content: "📧 ";
        }
        
        a[href^="tel"]::before {
            content: "📞 ";
        }

        * {
            box-sizing: border-box;
          }
          .menu {
            float: left;
            width: 20%;
          }
          .menuitem {
            padding: 8px;
            margin-top: 7px;
            border-bottom: 1px solid #f1f1f1;
          }
          .main {
            float: left;
            width: 60%;
            padding: 0 20px;
            overflow: hidden;
          }
          .right {
            background-color: lightblue;
            float: left;
            width: 20%;
            padding: 10px 15px;
            margin-top: 7px;
          }
          
          @media only screen and (max-width:800px) {
            /* For tablets: */
            .main {
              width: 80%;
              padding: 0;
            }
            .right {
              width: 100%;
            }
          }
          @media only screen and (max-width:500px) {
            /* For mobile phones: */
            .menu, .main, .right {
              width: 100%;
            }
          }  

          @media (max-width: 767px) {
 
         
            .top-content .carousel-control-prev, 
            .top-content .carousel-control-next { display: none; }
            .top-content .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
         
         
        }